.content-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-p{
    color: transparent;
}

.btn-content{
    display: none;
    padding: .4em .9em;
    border-radius: 1em;
    border: none;
    background-color: #111;
    color: #86868d;
    margin-top: .5em;
}

.btn-content:hover{
  cursor: pointer;
  background-color: #2e2e2e;
}

.single-card:hover .content-card{
    position: absolute;
    padding: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eeefe9;
    border-radius: 1em;
   
}

.single-card:hover .content-p{
    color: #86868d;
}
 
.single-card:hover .btn-content{
    display: block;
}